*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}



header.flex{
    height: 460px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 30px;
    background-image:url('../img/jumbo.png');
    background-size: cover;
}

header>*{
    color: white;
}

header h1{
    margin-bottom: 30px;
}

#sfondo-senape span{
    background-color: white;
    color: black;
    border-radius: 50px;
    margin-right: 20px;
    display: inline-block;
    width: 60px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

header span:nth-of-type(1){
    background-color: white;
    color: black;
    border-radius: 50px;
    margin-right: 20px;
    display: inline-block;
    width: 170px;
    height: 40px;
    line-height: 40px;
}

header span:nth-of-type(2){
    background-color: black;
    border-radius: 50px;
    border-radius: 50px;
    display: inline-block;
    width: 225px;
    height: 40px;
    line-height: 40px;
}


header p{
    margin-bottom: 26px;
}

.sfondo-blue_chiaro img{
    height: 320px;
    width: 500px;
}

.sfondo-rosa_chiaro h2{
    margin-bottom: 15px;
}

.altezza-grande h2{
    margin-bottom: 15px;
}

.altezza-grande span{
    background-color: rgb(144, 144, 211);
    color: white;
    border-radius: 50px;
    margin-right: 20px;
    display: inline-block;
    width: 170px;
    height: 40px;
    line-height: 40px;
}

.altezza-grande h3{
    margin-bottom: 15px;
}

main>section:nth-child(4){
    height: 860px;
}

main>section:nth-child(5){
    padding-top: 1.5px;
    height: 350px;
}

footer{
    height: 60px;
    border: 2px dashed white;
}

header{
    background-color: rgb(187, 232, 232);
}

section{
    height: 400px;
}


.sfondo-bianco{
    background-color: rgb(255, 252, 252);
}

.sfondo-grigio.flex{
    background-color: rgb(182, 181, 181);
    justify-content: center;
    align-items: center;
}

.sfondo-nero{
    background-color: rgba(1, 5, 4, 0.876);
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}


#sfondo-senape{
    width: 70%;
    font-size: 14px;
}

#sfondo-rosa_accesso{
    height: 320px;
    width: 830px;
    text-align: center;
}

.altezza-piccola{
    height: 40px;
    width: 70%;
}

.altezza-media{
    height: 320px;
    width: 70%;

}
 
.altezza-grande{
    height: 720px;
    width: 70%;
    text-align: center;
}

.sfondo-nero>.altezza-media{
    margin:0 auto;
}

main section:nth-of-type(6){
    padding-top: 8px;
}

footer{
    padding-top: 20px;
}

.sfondo-nero>.altezza-piccola{
    margin:0 auto;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.sfondo-blue_chiaro{
    width: 70%;
    height: 320px;
    float: left;
    padding-left: 40px;
}

.sfondo-rosa_chiaro{
    width: 30%;
    height: 320px;
    float: left;
}

#sfondo-rosa_scuro{
    width: 22%;
    height: 320px;
    float: left;
    color: white;
}

.sfondo-verde_acqua{
    width: 19.5%;
    height: 320px;
    float: left;
    color: white;
}

#sfondo-rosa_scuro h3{
    color: rgb(70, 70, 170);
}

.sfondo-nero li:first-child{
    color: rgb(70, 70, 170);
}


#verde-suo{
    background-color: rgb(102, 219, 184);
    border:0px;
}

.altezza-piccola.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.altezza-piccola.flex>div{
    width: 6%;
    height: 24px;
    background-color: rgb(220, 113, 115);
    text-align: center;
    line-height: 20px;
}

#sfondo-senape div:nth-of-type(1){
    width: 15%;
    height: 40px;
    float:left;
    line-height: 40px;
    padding-left: 3px;
    
}

#sfondo-senape div:nth-of-type(3){
    width: 15%;
    height: 40px;
    float: left;
    line-height: 40px;
    padding-left: 88px;
}

#sfondo-senape div:nth-of-type(2){
    width: 70%;
    height: 40px;
    float: left;
}

ul.flex{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    height:40px ;
    margin: 0 auto;
}

.flex2{
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

ul{
    list-style-type: none;
}
li{
    margin-bottom: 10px;
}